<div class="onemedhome">
	<div class="glass">
		<div class="col-md-12 center_splash">
			<h2>Employer Page</h2>
			<p class="note"><em>&mdash; One Medical Group &mdash;</em></p>
		</div>
	</div>
</div>

<div class="row white">
	<div class="col-md-6">
		<img src="/images/onemedical_home.jpg" />
	</div>
	<div class="col-md-6 comments">
		<span class='quotes'><em>&mdash;Purpose&mdash;</em></span>
			<p>The Enterprise Sales team at One Medical required a landing page to direct prospective employers interested in providing One Medical's services as a health benefit. I worked with the Director of Online Marketing and Direct of Offline Marketing to design an appropriately branded landing page.</p>
	</div>
	<div class="col-md-6 tech_stack">
		<ul class="tag">
			<li><em>HTML5</em></li>
			<li><em>CSS3</em></li>
			<li><em>Javascript</em></li>
			<li><em>Ruby (erb)</em></li>
			<li><em>Sass</em></li>
		</ul>
	</div>
</div>

