<div class="ebook">
	<div class="glass">
		<div class="col-md-12 center_splash">
			<h2>Landing Page Design &ndash; Healthy Breakfast eBook</h2>
			<p class="note"><em>&mdash; One Medical Group &mdash;</em></p>
		</div>
	</div>
</div>

<div class="row white">
	<div class="col-md-6">
		<img src="/images/ebook.jpg" />
	</div>
	<div class="col-md-6 comments">
		<span class='quotes'><em>&mdash;Purpose&mdash;</em></span>
			<p>This was another lead generation / SEO-driven project. I worked with an outside e-book design agency to create the Healthy Breakfast eBook and worked closely with our in-house designer to communicate our needs and goals for the landing page. </p>

		<div class="col-md-6 tech_stack">
			<ul class="tag">
				<li><em>HTML5</em></li>
				<li><em>CSS3</em></li>
				<li><em>Javascript</em></li>
				<li><em>jQuery</em></li>
			</ul>
		</div>
	</div>
</div>
