<div class="dome">
	<div class="glass">
		<div class="col-md-12 center_splash">
			<h2>Hi, I'm Sarah Kim <br> and I like to eat, <br> <em>/code</em>, <br> and dance. </h2>
		</div>

	</div>
</div>

<div class="white" id="work">
	<div class="row">
		<h2 class="col-md-12">WORK</h2>
		<div class="quotes col-md-12"><em>&mdash; some kind of clever quote here &mdash;</em></div>
	</div>

	<div class="row teaser">	
		<div class="work col-md-4">
			<a href="/onemedhome.html">
				<div class="preview" id="onemedhome">
				</div>
				<div class="snippet" id="onemedhome_snippet">
					<span>One Medical Group Homepage<br>
					</span>
				</div>
			</a>
		</div>

		<div class="work col-md-5">
			<a href="/p_dataviz.html">
				<div class="preview" id="pdataviz">
				</div>
				<div class="snippet" id="pdataviz_snippet">
					<span>Pandora Data Visualization</span>
				</div>
			</a>
		</div>

		<div class="work col-md-3">
			<a href="/onemed_healthguides.html">
				<div class="preview" id="onemedhealth">
				</div>
				<div class="snippet" id="onemedhealth_snippet">
					<span>One Medical Health Guides</span>
				</div>
			</a>
		</div>
	</div>

	<div class="row teaser">	
		<div class="work col-md-4">
			<a href="/healthyebook.html">
				<div class="preview" id="onemedebook">
				</div>

				<div class="snippet" id="onemedebook_snippet">
					<span>One Medical eBook Landing Page</span>
				</div>
			</a>
		</div>

		<div class="work col-md-2">
			<a href="/onemed_employer.html">
				<div class="preview" id="onemedmobile">
				</div>
				<div class="snippet" id="onemedmobile_snippet">
					<span>One Medical Employer's Page</span>
				</div>
			</a>
		</div>

		<div class="work col-md-6">
			<div class="preview" id="python">
			</div>

			<div class="snippet" id="python_snippet">
				<span>One Medical Mobile Landing Page</span>
			</div>
		</div>
	</div>

	<div class="row teaser">	
		<div class="work col-md-2">
			<div class="preview" id="placement">
			</div>

			<div class="snippet" id="placement_snippet">
				<span>One Medical Mobile Landing Page</span>
			</div>
		</div>

		<div class="work col-md-5">
			<div class="preview" id="placement2">
			</div>
			<div class="snippet" id="placement2_snippet">
				<span>One Medical Mobile Landing Page</span>
			</div>
		</div>

		<div class="work col-md-5">
			<div class="preview" id="placement3">
			</div>
			
			<div class="snippet" id="placement3_snippet">
				<span>One Medical Mobile Landing Page</span>
			</div>
		</div>
	</div>

</div>


<div class="grey" id="resume">
	<div class="row">
		<h2 class="col-md-12">Resume</h2>
		<div class="quotes col-md-12"><em>&mdash; work experience &mdash;</em></div>
	</div>
	<div class="row info">
		<h3 class="col-md-12">Data Technologist at <a href="http://www.pandora.com">Pandora Media</a> <span class="time">2014-present</span></h3>
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Improve and automate processes of extracting and cleaning data used for financial reporting</li>
					<li>Rewrite and review the existing code base, removing any manual work on Excel documents to Python (Pandas), R, and HQL (Hive Query Language)</li>
					<li>Created extensive documentation on previous and new processes and code</li>	
					<li>Introduced best-practices on version control, code comments, code review and style.</li>
					<li>Creating web-based data visualization reports to replace older, Powerpoint-based reports</li>
				</ul>
			</div>
			<div class="col-md-12 tech_stack">
				<ul class="tag">
					<li><em>Python (Pandas)</em></li>
					<li><em>Hive Query Language</em></li>
					<li><em>BASH scripting</em></li>
					<li><em>Javascript</em></li>
					<li><em>D3.js</em></li>
					<li><em>DC.js</em></li>
					<li><em>Crossfilter.js</em></li>
					<li><em>Angular.js</em></li>
					<li><em>R</em></li>
					<li><em>jQuery</em></li>
					<li><em>CSS3/Sass</em></li>
					<li><em>HTML5</em></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row info">
		<h3 class="col-md-12">Online Marketing Coordinator at <a href="http://www.onemedical.com">One Medical Group</a> <span class="time">2012&ndash;2014</span></h3>
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Project lead for implementing new website launch, in partnership with Product/Engineering</li>
					<li>Used Javascript, Ruby, and HTML5, and SASS for creating the new site</li>
					<li>Write bug fixes and other features as unofficial engineering support for marketing team</li>
					<li>Acquired ~3000 new members in 2013 through organic search, a 31% YOY growth, with a 50% YOY growth in organic site traffic</li>
					<li>Analyzed online performance for search, site, and acquisition with Google Analytics, BrightEdge, and other analytics tools</li>
				</ul>
			</div>
			<div class="col-md-12 tech_stack">
				<ul class="tag">
					<li><em>Ruby</em></li>
					<li><em>Rails</em></li>
					<li><em>Javascript</em></li>
					<li><em>jQuery</em></li>
					<li><em>CSS3/Sass</em></li>
					<li><em>HTML5</em></li>
					<li><em>Excel</em></li>
					<li><em>SEO</em></li>
					<li><em>Google Analytics</em></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row info">
		<h3 class="col-md-12">Marketing and PR Intern at <a href="http://www.bbbs-sd.org">Big Brothers Big Sisters</a><span class="time">2012</span></h3>
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Developed copy for internal e-newsletters, emails, and press releases</li>
					<li>Supported BBBS - SD County’s website (a Wordpress based site)</li>	
				</ul>
			</div>
		</div>
	</div>
	<div class="row info">
		<h3 class="col-md-12">Marketing Intern at <a href="http://www.bbbs-sd.org">CALPACT, School of Public Health, UC Berkeley</a><span class="time">2011</span></h3>
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Designed and created the first e-newsletter for the California Pacific Public Health Training Center (CPPHTC), an organization under UC Berkeley’s Public Health Department</li>
					<li>Managed social media presence on Facebook, Twitter, and LinkedIn</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<p class="quotes"><em>&mdash; education &mdash;</em></p>
	</div>
 	<div class="row info">
		<h3 class="col-md-12">M.A. in Medieval Studies at University of Oxford <span class="time">2011&ndash;2012</span></h3>
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Clarendon Scholarship, Clarendon Fund. October 2011</li>
					<li>Member (Alto), Jesus College Choir</li>	
				</ul>
			</div>
		</div>
	</div>
 	<div class="row info">
		<h3 class="col-md-12">B.A. in History at University of California, Berkeley <span class="time">2007&ndash;2011</span></h3>
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Highest Honors Award, History Department, UC Berkeley. May 2011</li>
					<li>Undergraduate Thesis published in the <a href="https://escholarship.org/uc/item/7525p9kk"><em>Berkeley Undergraduate Journal (23:2)</em></a></li>
					<li>Americorps Service Award, Americorps. May 2010</li>
					<li>Dean's Honor List, UC Berkeley. May 2010</li>
				</ul>
			</div>
		</div>
	</div>

</div>

	
<div class="row white" id="about">
	<div class="row">
		<h2 class="col-md-12">about me</h2>
		<div class="quotes col-md-12"><em>&mdash; an autobiography in the making &mdash;</em></div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<p>Sarah Kim is currently working in data science at Pandora in Oakland and enjoys learning new technologies and consuming an unhealthy amount of almond croissants. The author begs forgiveness for her indiscriminate uses definite articles, as this is the habit of those who claim Korea as their motherland. An avid fan of the opera and of fine art, her banishment to the East Bay has left her no choice but to enjoy such hoity-toity pleasures through the glossy glare of her laptop screen. Sarah is the author of no books and lives with neither cats nor dogs at her apartment in Oakland.</p>
		</div>
	</div>
</div>
