<div class="onemedhome">
	<div class="glass">
		<div class="col-md-12 center_splash">
			<h2>Home Page Redesign</h2>
			<p class="note"><em>&mdash; One Medical Group &mdash;</em></p>
		</div>
	</div>
</div>

<div class="row white">
	<div class="col-md-6">
		<img src="/images/onemedical_home.jpg" />
	</div>
	<div class="col-md-6 comments">
		<span class='quotes'><em>&mdash;Purpose&mdash;</em></span>
			<p>The website redesign project completely revamped the previous customer-facing website with a modern design, stronger branding, and improved brand propositions.</p>

		<span class='quotes'><em>&mdash;Details&mdash;</em></span>
			<p> This was a joint effort between the Marketing, Product, and Engineering departments and as a member of the online marketing team, I worked closely the other departments to implement the website's new design on both the frontend and backend.</p>
			
			<p>Using a static site generator (Middleman), frontend technologies, and SEO-knowledge, I was instrumental in making the new website live.</p>
	</div>
	<div class="col-md-6 tech_stack">
		<ul class="tag">
			<li><em>HTML5</em></li>
			<li><em>CSS3</em></li>
			<li><em>Javascript</em></li>
			<li><em>jQuery</em></li>
			<li><em>Ruby</em></li>
			<li><em>Middleman</em></li>
			<li><em>Sass</em></li>
			<li><em>Rails</em></li>
		</ul>
	</div>
</div>

