<div class="p_dataviz">
	<div class="glass">
<div class="col-md-12 center_splash">
			<h2>Data Visualizations</h2>
			<p class="note"><em>&mdash; Pandora Media &mdash;</em></p>
		</div>
	</div>
</div>

<div class="row white">
	<div class="col-md-6">
		<img src="/images/dataviz_p_1.jpg" />
	</div>
	<div class="col-md-6 comments">
		<span class='quotes'><em>&mdash;Purpose&mdash;</em></span>
			<p>Blah Blah Blah</p>
		<span class='quotes'><em>&mdash;Requirements&mdash;</em></span>
			<p>Blah Blah Blah</p>
	</div>
</div>


<div class="row white">
	<div class="col-md-6">
		<img src="/images/code_ptv.jpg" />
	</div>
	<div class="col-md-6 comments">
		<span class='quotes'><em>&mdash;Technical specifications&mdash;</em></span>
			<p>Cookie Functionality, etc. </p>

		<span class='quotes'><em>&mdash;Tools&mdash;</em></span>
			<p>Blah Blah Blah</p>
	</div>
</div>
