<div class="resources">
	<div class="row">
		<h2>Resources for Learning</h2>
	</div>


	<div class="row">
		<h3>Javascript</h3>
		<div>
				<li><a href="http://eloquentjavascript.net/">&#8220;Eloquent Javascript&#8221;</a></li>
				<li><a href="https://github.com/mrdavidlaing/javascript-koans">JS Koans</a></li>
				<li><a href="http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742">JS &#8211; The Good Parts</a></li>
				<li><a href="http://javascriptissexy.com/how-to-learn-javascript-properly/">JS Learning Guide</a></li>
		</div>
	</div>

	<div class="row">
		<h3>Node</h3>
		<div>
			<li><a href="http://chimera.labs.oreilly.com/books/1234000001808/ch01.html">Node: Up and Running</a></li>
			<li><a href="http://www.nodebeginner.org/">Node Beginner</a></li>
			<li><a href="http://nodeguide.com/beginner.html">Node Guide for Beginners</a></li>
			<li><a href="http://javascriptissexy.com/learn-node-js-completely-and-with-confidence/">Learn Node JS Completely</a></li>
		</div>
	</div>

	<div class="row">
		<h3>D3</h3>
		<div>
			<li><a href="http://alignedleft.com/tutorials/d3/about">D3 Tutorials &#8211; Aligned Left</a></li>
			<li><a href="http://chimera.labs.oreilly.com/books/1230000000345/">Interactive Data Viz for the Web</a></li>
		</div>
	</div>

	<div class="row">
		<h3>Ruby</h3>
		<div>
			<li><a href="http://ruby.bastardsbook.com/toc/">Bastard&#8217;s Book of Ruby</a></li>
			<li><a href="https://rubymonk.com/">Ruby Monk</a></li>
			<li><a href="http://www.amazon.com/gp/product/1933988657">Well-Grounded Rubyist</a></li>
			<li><a href="http://testfirst.org/learn_ruby">Test First Ruby</a></li>
		</div>
	</div>

	<div class="row">
		<h3>Rails</h3>
		<div>
			<li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Rails Tutorial Book</a></li>
			<li><a href="http://guides.rubyonrails.org/">Rails Guide</a></li>
		</div>
	</div>

	<div class="row">
		<h3>Algorithms &amp; Data Structures</h3>
		<div>
			<li><a href="http://bigocheatsheet.com/">The Big O Cheatsheet</a></li>
			<li><a href="https://github.com/kanwei/algorithms">Algorithms</a></li>
			<li><a href="https://class.coursera.org/algo-004/lecture">Coursera - Intro to Algorithms</a></li>
			<li><a href="http://www.cs.berkeley.edu/~jrs/61bs12/">CS61B &ndash; Data Structures and Algorithms (Course Syllabus)</a></li>
			<li><a href="http://www.youtube.com/watch?v=6VxtWFc0P6U&amp;list=PLBB2FC97598A3B254">CS61B &ndash; Data Structures and Algorithms (Lectures on Youtube)</a></li>
			<li><a href="http://www.brpreiss.com/books/opus8/">Book on Algorithms</a></li>
			<li><a href="http://www-inst.eecs.berkeley.edu/~cs61a/sp13/">CS61A &ndash; Introduction to Computer Science (Course Syllabus)</a></li>
			<li><a href="http://www.youtube.com/watch?v=QMV45tHCYNI">CS61A &ndash; Introduction to Computer Science (Lectures on Youtube)</a></li>
		</div>
	</div>

	<div class="row">
		<h3>Tools</h3>
		<div>
			<li><a href="http://labs.codecademy.com/#:workspace">Codeacademy Workspace</a></li>
			<li><a href="https://itunes.apple.com/us/app/journalist-just-note-taking/id764147223?mt=12">Journalist</a> &#8212; supports markdown, so makes taking notes with code examples easy!</li>
		</div>
	</div>

	<div class="row">
		<h3>Documentation</h3>
		<div>
			<li><a href="http://devdocs.io/javascript/global_objects/array/join">Dev Docs</a></li>
			<li><a href="https://developer.mozilla.org/">Mozilla Doocumentation for JS/HTML5/CSS/jQuery</a></li>
		</div>
	</div>
</div>