<div class="boxed col-md-4 col-md-offset-4" style='margin-top: 30px;'>
	<h1>Resume</h1>
</div>

<div class="col-md-12 overlay">

	<div class="col-md-8 col-md-offset-2">
		<h2>Data Technologist at Pandora</h2>
		<span>2014-Present</span>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<h2>Online Marketer at One Medical Group</h2>
		<span>2012-2014</span>
		<li>Project lead for implementing new website launch, in partnership with Product/Engineering</li>
		<li>Used Javascript, Ruby, and HTML5, and SASS for creating the new site (onemedical.com/nyc)</li>
		<li>Write bug fixes and other features as unofficial engineering support for marketing team</li>
		<li>Acquired ~3000 new members in 2013 through organic search, a 31% YOY growth, with a 50% YOY growth in organic site traffic</li>
		<li>Analyzed online performance for search, site, and acquisition with Google Analytics, BrightEdge, and other analytics tools</li>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<h2>Graduate Student at University of Oxford</h2>
		<span>2011-2012</span>
		<li>Interdisciplinary studies, concentrated on English and History</li>
		<li>Produced dissertation on devotional language in Anglo-Norman, Latin, and Middle English sources of the Middle Ages</li>
		<li>Member (Alto), Jesus College Choir (University of Oxford)</li>
		<li>Clarendon Scholarship, Clarendon Fund. October 2011</li>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<h2>Marketing &amp; Public Relations Intern at BBBS (Big Brothers Big Sisters of San Diego)</h2>
		<span>2012</span>
		<li>Developed copy for internal e-newsletters, emails, and press releases | Supported BBBS - SD County’s website (a Wordpress based site)</li>

	</div>

	<div class="col-md-8 col-md-offset-2">
		<h2>Undergraduate Student at UC Berkeley</h2>
		<span>2007-2012</span>
		<li>Conducted an independent research project and wrote a thesis on the Auchinleck Manuscript and the changing landscape of English devotional practicesli>by tracing earlier, analogous texts to those found in the fourteenth-century Auchinleck Manuscript
		<li>Highest Honors Award, History Department, UC Berkeley. May 2011</li>
		<li>Undergraduate Thesis published in the 'Berkeley Undergraduate Journal' (23:2).</li>
		<li>Americorps Service Award, Americorps. May 2010</li>
		<li>Dean's Honor List, UC Berkeley. May 2010</li>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<h2>Marketing &amp; Social Media Assistant</h2>
		<span>20011</span>
		<li>Designed and created the first e-newsletter for the California Pacific Public Health Training Center (CPPHTC), an organization under UC Berkeley’s Public Health Department | Managed social media presence on Facebook, Twitter, and LinkedIn</li>
	</div>
</div> 